@charset "utf-8";

@media all and (max-width: 768px){

    .logo {
        padding-left: 2%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .container,
    .model-wrap,
    .Nhome-wrap,
    .motorsport-wrap,
    .social-wrap{
        width: 100%;
        position: relative;
    }

    .navbar .main-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar .link_wrap {
        display: none;
    }

    .none{
        display: block;
        position: absolute;
    }
    .m-btn{
        width: 40px;
        background-color: #fff;
        position: absolute;
        right: 10%;
        top: 37px;
        height: 4px;
    }

    .m-btn span:after{
        content: '';
        background-color: #fff;
        width: 50%;
        height: 4px;
        position: absolute;
        left: 0;
        bottom: 10px;
        transition: all 0.5s ease-in;
    }
    .m-btn span:before{
        content: '';
        background-color: #fff;
        width: 70%;
        height: 4px;
        position: absolute;
        left: 0;
        top: 10px;
        transition: all 0.5s ease-in;
    }

    /* 햄버거 버튼 */
    
    .m-btn:hover span:after{
        width: 100%;
    }
    .m-btn:hover span:before{
        width: 100%;
    }
    .m-nav-wrap{
        background-color: #2d2d2d;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: relative;
        display: none;
    }
    .m-nav-wrap > ul > li{
        line-height: 100px;
        padding-left: 15%;
        border-bottom: 1px solid #d9d9d9;
        position: relative;
        text-align: center;
    }
    .m-nav-wrap > ul > li > a{
        color: #fff;
        font-size: 25px;
        padding-right: 18%;
    }

    .video {
        width: 100%;
        height: auto;
    }

    .Ncontent1{
        padding-left: 6%;
    }
    .Ncontent2 {
        padding-right: 6%;
    }
    .motor-title {
        text-align: center;
    }
    .social-title {
        text-align: center;
    }

    .footer-group{
        width: 100%;
    }
    .footer-top{
        padding-top: 2%;
    }
    .footer-logo{
        padding-left: 2%;
    }
    .right {
        padding-right: 2%;
    }
}

@media all and (max-width: 360px) {
    .Nhome-visual ul > li{
        float: none;
    }
    .Ncontent1{
        padding-left: 22%;
        text-align: center;
    }
    .text-wrap .Nhome-btn{
        margin-top: 6%;
        margin-left: 36%;
        font-size: 25px;
        width: 30%;
    }
    .Ncontent2 {
        display: none;
    }
    .motor-title {
        text-align: center;
    }
    .social-title {
        text-align: center;
    }

    .footer-group{
        width: 100%;
    }
    .footer-top{
        padding-top: 2%;
    }
    .footer-logo{
        margin-left: 43%;
        float: none;
    }
    .left {margin-left: 39%;}
    .footer-menu {display: none;}
    .H_link {display: none;}
    .add {text-align: center;}
    .right {display: none;}
}